html {
    width: 100%;
}
body {
    /*max-width:600px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato!important;
    font-size: 14px;
    color: #626262;
    padding: 0px;
}
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
svg {
    border: solid #cacaca 1px;
}
.crosshair {
    cursor: crosshair;
}
button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}
.active {
    stroke-width: 2;
    stroke: #2a2a2a;
}

/*
.label {
  user-select: none;
}
*/

#title-container {
    width: 300px;
    margin-top: 0px;
}
#title-editor {
    width: 100%;
    border: solid #cacaca 1px;
    font-size: 30px;
    text-align: center;
}
#text-container {
    width: 300px;
}
#textbox {
    height: 438px!important;
    border: solid #cacaca 1px;
    padding: 10px 10px;
}
#buttonbox {
    margin-top: 5px;
    text-align: center;
}
textarea {
    resize: none;
    overflow: hidden!important;
    outline: none !important;
    height: 55px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    color: #626262;
}
